body {
    padding-top: 60px; // for bootstrap fixed-navbar
}
label {
    display: inline-block;

}
tr {
    background: rgba(140, 0, 193, 1) !important;
    color: #ffffff;
}
ul {
    list-style: none;
    padding-left: 0;
}
.pink {
   color: hotpink !important;
   font-weight: bold;
}

.theme_colors {
    background: rgba(140, 0, 193, 1);
    color: #ffffff;
}
.theme_colors_inverted {
    background: #ffffff;
    color: rgba(140, 0, 193, 1);
}

.navbar-default .navbar-brand {
    color: #ffffff;
    background:  rgba(140, 0, 193, 1);
    font-weight: bold;
 }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    font-weight: bold;
    background: #ffffff;
    color: rgba(140, 0, 193, 1);
 }

.navbar .brand, .navbar .nav > li > a {
    background: rgba(140, 0, 193, 1);
    color: #ffffff;
}
.navbar .brand, .navbar .nav > li > a:hover {
    background: #ffffff;
    color: rgba(140, 0, 193, 1);
}
.navbar {
  margin-bottom: 20px;
}

td {
    background: rgba(140, 0, 193, 1);
    color: #ffffff;
}

td:hover {
    font-weight: bold;
}

.line_height {
    line-height: 0.4;
    font-size: 85%;
}

.space {
    padding-bottom: 0.1px;
}

#formTitle {
    text-align: center;
}

.fl {
    float: right;
}
.fr {
    float: right;
}
