{% extends "template.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 line_height">
            <p>
                <h1 class="gray">Gyfted</h1>
                <h4 class="gray"><em>(pronounced gift-ed)</em></h4>
            </p>
            <p>People need things.</p>
            <p>Others have things</p>
            <p>That they don’t want.</p>
            <p>If someone needs a coat to stay alive</p>
            <p>And to thrive</p>
            <p>To improve their situation</p>
            <p>And another happily offers it</p>
            <p>How best to connect the two?</p>
            <p class="space"></p>
            <p>How do we exchange goods and services</p>
            <p>Peer-to-peer while preserving</p>
            <p>Safety, Anonymity and Integrity?</p>
            <p>Provide a forum and create a space.</p>
            <p>Should we use traditional methods</p>
            <p>To solve these problems?</p>
            <p>Only when they work best.</p>
            <p class="space"></p>
            <p>They already exist</p>
            <p>And they have not fulfilled the need</p>
            <p>We must stretch ourselves</p>
            <p>To accommodate the rest.</p>
            <p>And when you receive</p>
            <p>You are Gyfted.</p>
            <p class="space"></p>
            <p>You now possess the knowledge</p>
            <p>Someone loves you</p>
            <p>Someone cares</p>
            <p>That part of humanity</p>
            <p>That tethers us</p>
            <p>That believe that we will prevail</p>
            <p>That part should not be in shorter supply</p>
            <p>Than the demand demands.</p>
            <p class="space"></p>
            <p>So I ask:</p>
            <p>Can we?</p>
            <p>Yes.</p>
            <p>Should we?</p>
            <p>Yes.</p>
            <p>Then all that is left is how.</p>
            <p class="space"></p>
            <p>We decided to call those who participate</p>
            <p>“Requesters” and “Gyfters”</p>
            <p>Once a request has been fulfilled</p>
            <p>Requesters become “Gyfted”.</p>
            <p>Service is the message loud and clear.</p>
            <p class="space"></p>
            <p>And I believe it will be</p>
            <p>Felt stronger by this name.</p>
            <p>One can carry with them</p>
            <p>All throughout their days</p>
            <p class="space"></p>
            <p>That which they are Gyfted.</p>
            <p>How? We use a simple</p>
            <p>WebSocket-based chat server.</p>
        </div>
        <div class="col-md-4 line_height">
            <p class="space"></p>
            <p class="space"></p>
            <p class="space"></p>
            <p class="space"></p>
            <p class="space"></p>
            <p class="space"></p>
            <p class="space"></p>
            <p>
                You can visit our project at:
                <a href="https://github.com/jasonleonhard/gyfted" class="pink">GitHub</a>
            </p>
            <p class="space"></p>
            <p>
                To try the app:
                <a href="https://github.com/jasonleonhard/gyfted/map" class="pink">Click Here</a>
            </p>
            <p class="space"></p>
            <p>We connect people needing items</p>
            <p>With those who have them</p>
            <p>And no longer need them.</p>
            <p>For instance</p>
            <p>If you need a coat or shoes</p>
            <p>You request for them.</p>
            <p>Please include your size/measurements</p>
            <p>whenever possible.</p>
            <p>If someone currently can</p>
            <p>Provide you with your request</p>
            <p>Then you become gyfted.</p>
        </div>
    </div>
</div>
{% endblock %}