{% extends "template.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="search" action="/all_requests">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search_term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h3>Requested Items</h3>
            <div class="stub">
                {% if search_term %}
                    {{search_term}}
                    {{filtered_tickets}}
                {% endif %}

                {% for ticket in all_tickets %}
                    <ul class="border">
                        <li><span class="label label-default theme_colors_inverted">Dropoff {{ticket.item}}</span></li>
                        {% if ticket.dropoff_address %}
                        <li><small><span class="label label-default">At {{ticket.dropoff_address}} on {{ticket.dropoff_date}} at {{ticket.dropoff_time}}</span></small></li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div id="mapid"></div>
                <img src="https://raw.githubusercontent.com/jasonleonhard/gyfted/master/static/images/map_stub.png" class="img-responsive stub" />
                <div class="space"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
