{% extends "template.html" %}
{% block content %}
<div class="container">
     <h1>Gyfted</h1>
    <p class="lead">Help those in need and declutter your life.<br>
    Repurposed goods. Not a landfill or your closet.</p>
    <form action="/newticket" method="POST">
        <div class="row">
            <div class="col-md-6">
                <span class="label label-default">item</span>
                <input class="form-control" type="text" name="item" value={{item}}>
            </div>
            <div class="col-md-6">
                <span class="label label-default">deliverer</span>
                <input class="form-control" type="text" name="deliverer" value={{deliverer}}>
            </div>
        </div>
        <div class="pad"></div>
        <div class="row">
            <div class="col-md-6">
                <span class="label label-default">gyfter</span>
                <input class="form-control" type="text" name="gyfter" value={{gyfter}}>

                <span class="label label-default">pickup address</span>
                <input class="form-control" type="text" name="pickup_address" value={{pickup_address}}>

                <span class="label label-default">pickup time</span>
                <input class="form-control" type="text" name="pickup_time" value={{pickup_time}}>

                <span class="label label-default">pickup date</span>
                <input class="form-control" type="text" name="pickup_date" value={{pickup_date}}>
            </div>
            <div class="col-md-6">
                <span class="label label-default">requester</span>
                <input class="form-control" type="text" name="requester" value={{requester}}>

                <span class="label label-default">dropoff address</span>
                <input class="form-control" type="text" name="dropoff_address" value={{dropoff_address}}>

                <span class="label label-default">dropoff time</span>
                <input class="form-control" type="text" name="dropoff_time" value={{dropoff_time}}>

                <span class="label label-default">dropoff date</span>
                <input class="form-control" type="text" name="dropoff_date" value={{dropoff_date}}>
            </div>
        </div>
        <div class="pad"></div>
        <input class="btn btn-primary btn-xs fresh" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
