{% extends "template.html" %}
{% block content %}

<div class="container">

    <h1>New Ticket</h1>
    <br>
    <form action="/newticket" method="POST">

        <div class="col-sm-6">

            <div class="form-group row">
                <label for="item" class="col-sm-3 col-form-label">Item *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="item" name="item" required value="{{item}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="gyfter" class="col-sm-3 col-form-label">Name *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="gyfter" name="gyfter" required value="{{gyfter}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="pickup_address" class="col-sm-3 col-form-label">Pickup Address</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="pickup_address" name="pickup_address" value="{{pickup_address}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="pickup_date" class="col-sm-3 col-form-label">Pickup Date</label>
                <div class="col-sm-9">
                    <input class="form-control" type="date" id="pickup_date" name="pickup_date" value="{{pickup_date}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="pickup_time" class="col-sm-3 col-form-label">Pickup Time</label>
                <div class="col-sm-9">
                    <input class="form-control" type="time" id="pickup_time" name="pickup_time" value="{{pickup_time}}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="col-md-6 hidden">

            <div class="form-group row">
                <label for="deliverer" class="col-sm-3 col-form-label">Deliverer *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="deliverer" name="deliverer" value="{{deliverer}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="requester" class="col-sm-3 col-form-label">Requester</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="requester" name="requester" value="{{requester}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_address" class="col-sm-3 col-form-label">Dropoff Address</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="dropoff_address" name="dropoff_address" value="{{dropoff_address}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_date" class="col-sm-3 col-form-label">Dropoff Date</label>
                <div class="col-sm-9">
                    <input class="form-control" type="date" id="dropoff_date" name="dropoff_date" value="{{dropoff_date}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_time" class="col-sm-3 col-form-label">Dropoff Time</label>
                <div class="col-sm-9">
                    <input class="form-control" type="time" id="dropoff_time" name="dropoff_time" value="{{dropoff_time}}">
                </div>
            </div>

        </div>
    </form>

</div>

{% endblock %}
