{% extends "template.html" %}
{% block content %}
<div class="container">

    {% if ticket and ticket.status == "new" %}
        <div class="col-md-6">
            <h1><span class="label label-success">status: {{ ticket.status }}</span></h1>

            <h2>Gyfter Details</h2>
            <div>item: {{ticket.item}}</div>
            <div>gyfter: {{ticket.gyfter}}</div>
            <div>pickup_address: {{ticket.pickup_address}}</div>
            <div>pickup_time: {{ticket.pickup_time}}</div>
            <div>pickup_date: {{ticket.pickup_date}}</div>
            <form action="/view?tid={{ ticket.tid }}&status={{ ticket.status }}&action=update" method="POST">
                <input class="btn btn-primary btn-xs fresh" type="submit" value="change status">
            </form>
        </div>
    {% endif %}

    {% if ticket and ticket.status == "ready" %}
        <div class="col-md-6">
            <h1><span class="label label-warning">status: {{ ticket.status }}</span></h1>

            <h2>Gyfter Details</h2>
            <div>item: {{ticket.item}}</div>
            <div>gyfter: {{ticket.gyfter}}</div>
            <div>pickup_address: {{ticket.pickup_address}}</div>
            <div>pickup_time: {{ticket.pickup_time}}</div>
            <div>pickup_date: {{ticket.pickup_date}}</div>

            <h2>Delivery Instructions</h2>
            <div>deliverer: {{ticket.deliverer}}</div>
            <div>requester: {{ticket.requester}}</div>
            <div>dropoff_address: {{ticket.dropoff_address}}</div>
            <div>dropoff_time: {{ticket.dropoff_time}}</div>
            <div>dropoff_date: {{ticket.dropoff_date}}</div>

            <form action="/view?tid={{ ticket.tid }}&status={{ ticket.status }}&action=update" method="POST">
                <input class="btn btn-primary btn-xs fresh" type="submit" value="change status">
            </form>
        </div>
    {% endif %}

    {% if ticket and ticket.status == "closed" %}
        <div class="col-md-6">
            <h1><span class="label label-danger">status: {{ ticket.status }}</span></h1>

            <h2>Gyfter Details</h2>
            <div>item: {{ticket.item}}</div>
            <div>gyfter: {{ticket.gyfter}}</div>
            <div>pickup_address: {{ticket.pickup_address}}</div>
            <div>pickup_time: {{ticket.pickup_time}}</div>
            <div>pickup_date: {{ticket.pickup_date}}</div>

            <h2>Delivery Instructions</h2>
            <div>deliverer: {{ticket.deliverer}}</div>
            <div>requester: {{ticket.requester}}</div>
            <div>dropoff_address: {{ticket.dropoff_address}}</div>
            <div>dropoff_time: {{ticket.dropoff_time}}</div>
            <div>dropoff_date: {{ticket.dropoff_date}}</div>

            <h2>Closed Ticket Details</h2>
            <div>closed_details: {{ticket.closed_details}}</div>
        </div>

    {% endif %}
</div>
{% endblock %}
