<!-- jQuery library req for bootstrap-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

<!-- datatables styling for pagination -->
<!-- optional styling -->
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />

<!-- datatables script -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
</script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js">
</script>

<style type="text/css">
    .dataTables_empty {
        background: rgba(140, 0, 193, 1) !important;
        color: #ffffff !important;
    }

    th.sorting_asc::after {
        opacity: 0.9;
    }

    .paginate_button {
        color: rgba(0, 0, 0, 0) !important;
        background: rgba(0, 0, 0, 0) !important;
    }

    .float-right {
        float: right;
    }
</style>

{% extends "template.html" %}
{% block content %}
<div class="container">
    <table id="example" class="table table-hover table-bordered table-condensed">
        <thead>
            <tr class='theme_colors'>
                <th>id</th>

                <th>item</th>
                <th>deliverer</th>

                <th>gyfter</th>
                <th>pickup address</th>
                <th>pickup time</th>
                <th>pickup date</th>

                <th>requester</th>
                <th>dropoff address</th>
                <th>dropoff time</th>
                <th>dropoff date</th>
            </tr>
        </thead>
        <tfoot>
            <tr class='theme_colors'>
                <th>id</th>
                <th>status</th>

                <th>item</th>
                <th>deliverer</th>

                <th>gyfter</th>
                <th>pickup address</th>
                <th>pickup time</th>
                <th>pickup date</th>

                <th>requester</th>
                <th>dropoff address</th>
                <th>dropoff time</th>
                <th>dropoff date</th>
              </tr>
        </tfoot>
        <tbody>
          {% if all_tickets %}
              {% for ticket in all_tickets if ticket.hidden != True %}
                 <tr class='theme_colors'>
                    <td>
                      <div class="float-right">
                          {{ticket.tid}}
                      </div>
                      <form action="/show_all?tid={{ticket.tid}}" method="POST" class='nmb'>
                        <input type="hidden" name="tid" value="{{ticket.tid}}">
                        <input type="submit" value="show" class='btn btn-primary btn-xs'>
                      </form>
                      <form action="/delete_ticket" method="POST" class='nmt'>
                        <input type="hidden" name="tid" value="{{ticket.tid}}">
                        <input type="submit" value="Delete" class='btn btn-danger btn-xs'>
                      </form>
                    </td>
                    <td>{{ticket.status}}</td>
                    <td>{{ticket.item}}</td>
                    <td>{{ticket.deliverer}}</td>

                    <td>{{ticket.gyfter}}</td>
                    <td>{{ticket.pickup_address}}</td>
                    <td>{{ticket.pickup_time}}</td>
                    <td>{{ticket.pickup_date}}</td>

                    <td>{{ticket.requester}}</td>
                    <td>{{ticket.dropoff_address}}</td>
                    <td>{{ticket.dropoff_time}}</td>
                    <td>{{ticket.dropoff_date}}</td>
                 </tr>
              {% endfor %}
          {% endif %}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}
