{% extends "template.html" %}
{% block content %}
<div class="container">

    {% if ticket %}
    <h1>
        <span class="label label-success">status: {{ ticket.status }}</span>
    </h1>

    <div class="col-md-6">
        <h2>Gyfter Details</h2>
        <div class="form-group row">
            <label for="item" class="col-sm-3 col-form-label">Item *</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="item" name="item" readonly required value={{ticket.item}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="gyfter" class="col-sm-3 col-form-label">Name *</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="gyfter" name="gyfter" readonly required value={{ticket.gyfter}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="pickup_address" class="col-sm-3 col-form-label">Pickup Address</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="pickup_address" name="pickup_address" readonly value={{ticket.pickup_address}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="pickup_date" class="col-sm-3 col-form-label">Pickup Date</label>
            <div class="col-sm-9">
                <input class="form-control" type="date" id="pickup_date" name="pickup_date" readonly value={{ticket.pickup_date}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="pickup_time" class="col-sm-3 col-form-label">Pickup Time</label>
            <div class="col-sm-9">
                <input class="form-control" type="time" id="pickup_time" name="pickup_time" readonly value={{ticket.pickup_time}}>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <form action="/view?tid={{ ticket.tid }}&status=ready" method="POST">
            <h2>Delivery Instructions</h2>

            <div class="form-group row">
                <label for="deliverer" class="col-sm-3 col-form-label">Deliverer *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="deliverer" name="deliverer" required value={{deliverer}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="requester" class="col-sm-3 col-form-label">Requester</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="requester" name="requester" value={{requester}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_address" class="col-sm-3 col-form-label">Dropoff Address</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="dropoff_address" name="dropoff_address" value={{dropoff_address}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_date" class="col-sm-3 col-form-label">Dropoff Date</label>
                <div class="col-sm-9">
                    <input class="form-control" type="date" id="dropoff_date" name="dropoff_date" value={{dropoff_date}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_time" class="col-sm-3 col-form-label">Dropoff Time</label>
                <div class="col-sm-9">
                    <input class="form-control" type="time" id="dropoff_time" name="dropoff_time" value={{dropoff_time}}>
                </div>
            </div>

            <!-- update button -->
            <button type="submit" class="btn btn-primary">Update</button>

            <!-- cancel button -->
            <a href="/view?tid={{ ticket.tid }}">
                <div class="btn btn-danger">cancel</div>
            </a>

        </form>
    </div>
    {% endif %}

</div>
{% endblock %}
