{% extends "template.html" %}
{% block content %}
<div class="container">

    {% if ticket %}
        <!-- <div>{{ticket}}</div> -->
        <!-- <br> -->
    <div class="row">
        <div class="col-md-6">
            <h1><span class="label label-success">status: {{ ticket.status }}</span></h1>
            <h2>Gyfter</h2>
            <div>item: {{ticket.item}}</div>
            <div>gyfter: {{ticket.gyfter}}</div>
            <div>pickup_address: {{ticket.pickup_address}}</div>
            <div>pickup_time: {{ticket.pickup_time}}</div>
            <div>pickup_date: {{ticket.pickup_date}}</div>

            <h2>Delivery Instructions</h2>
            <form action="/status?tid={{ ticket.tid }}&status=ready" method="POST">
                <span class="label label-default">deliverer</span>
                <input class="form-control" type="text" name="deliverer" value={{deliverer}}>

                <span class="label label-default">requester</span>
                <input class="form-control" type="text" name="requester" value={{requester}}>

                <span class="label label-default">dropoff address</span>
                <input class="form-control" type="text" name="dropoff_address" value={{dropoff_address}}>

                <span class="label label-default">dropoff time</span>
                <input class="form-control" type="text" name="dropoff_time" value={{dropoff_time}}>

                <span class="label label-default">dropoff date</span>
                <input class="form-control" type="text" name="dropoff_date" value={{dropoff_date}}>

                <input class="btn btn-primary btn-xs fresh" type="submit" value="update">
                <a href="/show_all?tid={{ ticket.tid }}">
                    <div class="btn btn-danger btn-xs">cancel</div>
                </a>
            </form>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
